@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../assets/fonts/Poppins-ExtraLight.ttf");
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 16px;
}

nav {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}

nav > ul > li {
  position: relative;
}

nav > ul > li::after {
  content: "";
  position: absolute;
  background-color: whitesmoke;
  width: 118%;
  height: 2px;
  bottom: -28%;
  right: 50%;
  transform: translateX(50%) scale(0.1);
  border-radius: 110%;
  transition-duration: 350ms;
  opacity: 0;
}

nav > ul > li:hover::after {
  border-radius: 2px;
  transform: translateX(50%) scale(1);
  opacity: 1;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: "Poppins-Light";
}

.hero-container {
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  background-image: url(../assets/background.jpg);
  background-position: left;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5825);
  z-index: 0;
}

.hero-text-container {
  padding: 1rem;
  z-index: 1;
  width: 50%;
}

.hero-text-super {
  font-family: "Poppins-Bold";
  font-size: 2.2rem;
}

.hero-text-super > span {
  color: red;
}

.hero-text-content {
  font-family: "Poppins-Light";
  font-size: 1rem;
}

.skills-container {
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  padding: 7rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: center;
}

.skills-container .skill-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.85rem;
}

.skill-div .skills-header {
  font-family: "Poppins-Bold";
  font-size: 2.6rem;
}

.skill-div .sub-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-div .sub-skill-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1rem;
}

.skill-div .sub-skill-container .sub-skill .skill-second-header {
  font-family: "Poppins-Light";
  font-size: 1.4rem;
}

.skill-div .sub-skill .list-skill {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1rem;
  width: 100%;
  align-items: center;
  gap: 0.4rem;
}

.skill-div .sub-skill .list-skill .skill-item {
  font-family: "Poppins-Light";
  font-size: 1.2rem;
  background-color: #121212;
  color: #fff;
  padding: 0.5rem 1rem;
  line-height: 1;
  user-select: none;
  transform: rotate(-3deg);
}

.projects-container {
  min-height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3rem 2rem;
}

.projects-header {
  font-family: "Poppins-Bold";
  font-size: 2.6rem;
  color: white;
  margin: 1rem auto;
}

.projects-items-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.projects-items-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.projects-items-container li .project-item {
  color: white;
  font-family: "Poppins-Light";
  letter-spacing: 2px;
  text-align: center;
}
.projects-items-container li img {
  width: 27px;
}

.contact-container {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 3.5rem;
  padding: 3rem 2rem;
}

.contact-header {
  font-family: "Poppins-Bold";
  font-size: 2.6rem;
}

.contact-items-container {
  display: flex;
  gap: 0rem 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.whatsapp-contact-container {
  background-image: url("../assets/icons/logo-whatsapp.png");
}

.email-contact-container {
  background-image: url("../assets/icons/logo-gmail.png");
}

.linkedin-contact-container {
  background-image: url("../assets/icons/logo-linkedin.png");
}

.github-contact-container {
  background-image: url("../assets/icons/logo-github.png");
}

.instagram-contact-container {
  background-image: url("../assets/icons/logo-instagram.webp");
}

.contact-items-container a {
  padding: 3rem 0rem;
  transition: 0.2s;
  border-radius: 7px;
}

.contact-items-container a div {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  background-position: center;
  transition-duration: 10ms;
}

@keyframes smoothShaking {
  from {
    transform: rotate(-9deg) scale(1);
  }
  to {
    transform: rotate(9deg) scale(1.1);
  }
}

/*for mobile*/
@media only screen and (max-width: 769px) {
  nav {
    display: none;
  }

  .hero-text-container {
    width: 100%;
  }

  .skils-items-container {
    flex-direction: column;
    padding: 5rem 0;
  }

  .contact-items-container {
    flex-direction: column;
  }
}

/*for no mobile*/
@media only screen and (min-width: 769px) {
  .skils-items-container > div:hover .skills-text {
    filter: opacity(1);
    transform: rotate(-3deg) translate(30px, 20px);
  }

  .contact-items-container a:hover {
    background-color: whitesmoke;
  }

  .contact-items-container a:hover div {
    transform: scale(1.2) rotate(-21deg);
  }
}
